*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}
body{
    background: url("./images/bg-pattern-top.svg") right 50vw bottom 40vh no-repeat,
        url("./images/bg-pattern-bottom.svg") 50vw 50vh no-repeat;
    background-color: var(--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background-color: #fff;
    margin: 95px auto;
    width: 350px;
    overflow: hidden;
    border-radius: 20px;
    color: var(--desaturated-blue);
}
.victor{
    border: 4px solid #fff;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: 8.4em;
}
.name{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    margin: 10px;
}
#nme{
    font-size: 18px;
    font-weight: bold;
}
.age{
    font-size: 13px;
    margin-left: 12px;
    margin-top: .26em;
}
.location{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12px;
}
.media{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: 15px;
    border-top: 1px solid var(--dark-gray);
}
.fol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.likes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.followers{
    font-size: 19px;
    font-weight: bold;
}
.numb{
    font-size: 19px;
    font-weight: bold;
}
.k-photo{
    font-size: 19px;
    font-weight: bold;
}
.follow-word{
    font-size: 12px;
}
.like-word{
    font-size: 12px;
}
.photo-word{
    font-size: 12px;
}
